@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
}

#container{
  padding-left: 0 60px;
  width: 500px;
}

.container{
    padding: 7% 10%;
}

.container-data{
    padding: 7% 2%;
}

input{
    width: 80%;
    padding: 10px 40px;
    border-radius: 20px;
    border: 2px solid green; 
    background-color: transparent;
    color: #fff;
}

input:focus{
    background-color: black;
    border: 1px solid #fff;
}

::-moz-placeholder{
    color: #fff;
}

h3{
    color: #fff;
    text-align: center;
    font-size: 4rem;
    font-family: "Roboto Mono";
    margin-bottom: 30px;
}

p{
    color: #fff;
    text-align: center;
    font-size: 2rem;
    font-family: "Roboto Mono";
}

h4{
    margin-bottom: 30px;
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    font-family: "Roboto Mono";
}


@media screen and (max-width:600px) {
    #container{
        width: 350px;
        padding-top: 90px;
    }

    input{
        width: 70%;
    }

    .container-data{
        margin-top: 40px;
    }

    h4{
        font-size: 1.3rem;
    }

    h3{
        font-size: 2.5rem;
    }

    p{
        font-size: 1.5rem;
    }
}