body{
    background: url("bg.jpg") no-repeat center center;
    padding: 6% 5%;
    display: flex;
    align-items: center;
    justify-content: center; 
}

@media screen and (max-width: 600px) {
    body{
        padding: 10% 5%;
    }
}
